body {
  background-color: #eaf6f6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
  img{
background-color: #eaf6f6;
  /*height: 100px;
  width: 20%;*/
}

h1{
  color: #66bfbf;
}
h3{
  text-decoration: underline;
  color: #66bfbf;
}
